<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/auth/sign-up" method="post">
      <legend>Sign Up</legend>
      <div class="form-group">
        <label for="post-title">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Please enter username...">
      </div>
      <div class="form-group">
        <label for="post-url">Password</label>
        <input type="password" name="password" class="form-control" id="user-password" placeholder="Please enter password...">
      </div>
      <div class='text-right'>
        <button href="/auth/signup"type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>